.header-restrita{
	display: table;
	width: 100%;
}

.header-restrita > div{
	display: table-cell;
	vertical-align: middle;
}

.header-restrita > div.main-info-restrita{
	width: 90%;
}

.header-restrita > div.logout-restrita{
	width: 10%;
	text-align: right;
}

.header-restrita > div.main-info-restrita nav{
	width: 100%;
	text-align: left;
}

.header-restrita > div.main-info-restrita nav ul{
	list-style-type: none;
	margin: 0 0;
	padding: 0;
	display: table;
	width: 100%;
}

.header-restrita > div.main-info-restrita nav ul li{
	display: table-cell;
	float: left;
	font-size: 35px;
	line-height: 35px;
	padding-left: 10px;
	position: relative;
	text-transform: uppercase;
	vertical-align: middle;
}

.header-restrita > div.main-info-restrita nav ul li.btn-logout{
	float: right;
}

.header-restrita > div.main-info-restrita nav ul li:first-child{
	color: #fff;
    font-size: 15px;
    padding-left: 0;
}

.header-restrita > div.main-info-restrita nav ul li:first-child:after{
	content: " |";
}

.header-restrita > div.main-info-restrita nav ul li a{
	width: 100%;
	float:left;
}

.header-restrita > div.main-info-restrita nav ul li a:before{
	display: block;
    font-size: 35px;
    height: 35px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 35px;
}

.header-restrita > div.main-info-restrita nav ul li a:hover:before{
	color: #ed2224;
}

.table-clinicas{
	width: 100%;
	margin-bottom: 45px;
}

.table-clinicas > tbody > tr{
	cursor: pointer;
}

.table-clinicas > tbody > tr:hover{
	background-color: rgba(53, 53, 53, .7);
}

.table-clinicas > tbody > tr:nth-child(even){
	background-color: #23282D;
}

.table-clinicas > tbody > tr:hover:nth-child(even){
	background-color: rgba(35, 40, 45, .6);
}

.table-clinicas > tbody > tr > td{
	padding-top: 15px;
	padding-bottom: 15px;
}

.table-clinicas > tfoot > tr{
	background-color: #383838;
	border-top: 3px solid #aaa9a9;
}

.table-clinicas > tfoot > tr > td{
	padding-top: 15px;
	padding-bottom: 15px;
}

.table-clinicas > tfoot > tr > td #nova_clinica label{
	cursor: pointer;
	color: #ED2224;
	font-weight: bold;
	text-transform: uppercase;
}

.table-clinicas > tfoot > tr > td #nova_clinica fieldset{
	position: relative;
	width: 100%;
	margin-top: 15px;
}

.table-clinicas > tfoot > tr > td #nova_clinica fieldset input[type="text"]{
	margin: 0 0 15px 0;
}


.table-clinicas > tfoot > tr > td #nova_clinica fieldset .button{
	font-size: 14px;
    line-height: 17px;
    padding: 13px 29px;    
    border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border: 0px solid #780404;
    font-weight: bold;
	background: #e80707 -webkit-linear-gradient(to top, #d60707, #e80707) repeat scroll 0 0; /* Safari 5.1-6.0 */
    background: #e80707 -o-linear-gradient(to top, #d60707, #e80707) repeat scroll 0 0; /* Opera 11.1-12.0 */
    background: #e80707 -moz-linear-gradient(to top, #d60707, #e80707) repeat scroll 0 0; /* Firefox 3.6-15 */
    background: #e80707 linear-gradient(to top, #d60707, #e80707) repeat scroll 0 0; /* Standard syntax */
	color: #780404;
    cursor: pointer;
    float: right;
}

.table-clinicas > tfoot > tr > td #nova_clinica fieldset .button:hover{
	background: #e80707 -webkit-linear-gradient(to bottom, #d60707, #e80707) repeat scroll 0 0; /* Safari 5.1-6.0 */
    background: #e80707 -o-linear-gradient(to bottom, #d60707, #e80707) repeat scroll 0 0; /* Opera 11.1-12.0 */
    background: #e80707 -moz-linear-gradient(to bottom, #d60707, #e80707) repeat scroll 0 0; /* Firefox 3.6-15 */
    background: #e80707 linear-gradient(to bottom, #d60707, #e80707) repeat scroll 0 0; /* Standard syntax */
}



#ativa{
	color: #34A853;
	text-decoration: none;
}

#inativa{
	color: #EA4335;
	text-decoration: none;
}

.alerta-adm{
	background-color: #EA4335;
	padding: 10px;
	width: 100%;
	color: #fff;
}

.alert-sem-permissao{
	text-align: center;
	border: none;
	background-color: transparent;
	font-style: normal;
	margin: 0;
    padding: 4rem;
}

.alert-sem-permissao h2{
	font-size: 24px;
    font-weight: 600 !important;
    text-transform: uppercase;
}

.alert-sem-permissao h4{
	font-size: 18px;
    font-weight: 500;
}