#body-ciclo-amostras{
	background-color: #181818;
}

#header-ciclo-amostras{
	padding-left: 30px;
    padding-right: 30px;
}

#body-ciclo-amostras #main{
	padding-top: 0;
}

.header-restrita{
	display: table;
	width: 100%;
}

.header-restrita > div{
	display: table-cell;
	vertical-align: middle;
}

.header-restrita > div.main-info-restrita{
	width: 100%;
}

.header-restrita > div.main-info-restrita h1{
	color: #aaa9a9;
}

.header-restrita > div.logout-restrita{
	width: 10%;
	text-align: right;
}

.header-restrita > div.main-info-restrita nav{
	width: 100%;
	text-align: left;
}

.header-restrita > div.main-info-restrita nav ul{
	list-style-type: none;
	margin: 0 0;
	padding: 0;
	display: table;
	width: 100%;
}

.header-restrita > div.main-info-restrita nav ul li{
	display: table-cell;
	float: left;
	font-size: 35px;
	line-height: 35px;
	padding-left: 10px;
	position: relative;
	text-transform: uppercase;
	vertical-align: middle;
}

.header-restrita > div.main-info-restrita nav ul li.btn-logout{
	float: right;
}

.header-restrita > div.main-info-restrita nav ul li:first-child{
	color: #fff;
    font-size: 15px;
    padding-left: 0;
}

.header-restrita > div.main-info-restrita nav ul li:first-child:after{
	content: " |";
}

.header-restrita > div.main-info-restrita nav ul li a{
	width: 100%;
	float:left;
	text-decoration: none;
}

.header-restrita > div.main-info-restrita nav ul li a:before{
	display: block;
    font-size: 35px;
    height: 35px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 35px;
}

.header-restrita > div.main-info-restrita nav ul li a:hover:before{
	color: #ed2224;
}

.page-template-template-restrita .table-2 .dataTables_wrapper div{
	margin: 0;
	padding: 0;
}

.page-template-template-restrita .table-2 .dataTables_wrapper .dt-buttons.btn-group,
.page-template-template-restrita .table-2 .dataTables_wrapper .dataTables_filter{
	width: 50%;
	display: inline-table;
}

.table-default-ca{
	width: 100%!important;
	max-width: 100%!important;
	min-width: 100%!important;
	margin-bottom: 45px;
}


.table-2 table.dataTable thead .sorting:after,
.table-2 table.dataTable thead .sorting_asc:after,
.table-2 table.dataTable thead .sorting_desc:after,
.table-2 table.dataTable thead .sorting_asc_disabled:after,
.table-2 table.dataTable thead .sorting_desc_disabled:after{
	bottom: 50%;
    margin-bottom: -12px;
    opacity: 1;
}

.table-2 table.dataTable thead .sorting:after{
	opacity: 0.5;
}

.table-default-ca > tbody > tr.clickable-row{
	cursor: pointer;
}

.table-default-ca > tbody > tr:hover{
	background-color: rgba(53, 53, 53, .7);
}

.table-default-ca > tbody > tr:nth-child(even){
	background-color: #23282D;
}

.table-default-ca > tbody > tr:hover:nth-child(even){
	background-color: rgba(35, 40, 45, .6);
}

.table-default-ca > tbody > tr > td{
	padding-top: 15px;
	padding-bottom: 15px;
	color: #aaa9a9;
}

.table-default-ca > tbody > tr > td a:hover{
	color: #ED2224;
}

.table-default-ca > tbody > tr > td .info-tel-promotor{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.table-default-ca > tfoot > tr{
	background-color: #383838;
	border-top: 3px solid #aaa9a9;
}

.table-default-ca > tfoot > tr > td{
	padding-top: 15px;
	padding-bottom: 15px;
}

.table-default-ca > tfoot > tr > td.detalhes-relatorio{
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 24px;
}


.table-default-ca > tfoot > tr > td > form label{
	cursor: pointer;
	color: #ED2224;
	font-weight: bold;
	text-transform: uppercase;
}

.table-default-ca > tfoot > tr > td > form fieldset{
	position: relative;
	width: 100%;
	margin-top: 15px;
}

.table-default-ca > tfoot > tr > td > form fieldset input[type="text"]{
	margin: 0 0 15px 0;
}


.table-default-ca > tfoot > tr > td > form fieldset .button,
#ca-content-main .field input[type=submit]{
	font-size: 14px;
    line-height: 17px;
    padding: 13px 29px;    
    border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border: 0px solid #780404;
    font-weight: bold;
	background: #e80707 -webkit-linear-gradient(to top, #d60707, #e80707) repeat scroll 0 0; /* Safari 5.1-6.0 */
    background: #e80707 -o-linear-gradient(to top, #d60707, #e80707) repeat scroll 0 0; /* Opera 11.1-12.0 */
    background: #e80707 -moz-linear-gradient(to top, #d60707, #e80707) repeat scroll 0 0; /* Firefox 3.6-15 */
    background: #e80707 linear-gradient(to top, #d60707, #e80707) repeat scroll 0 0; /* Standard syntax */
	color: #780404;
    cursor: pointer;
    float: right;
}

.table-default-ca > tfoot > tr > td > form fieldset .button:hover,
#ca-content-main .field input:hover[type=submit]{
	background: #e80707 -webkit-linear-gradient(to bottom, #d60707, #e80707) repeat scroll 0 0; /* Safari 5.1-6.0 */
    background: #e80707 -o-linear-gradient(to bottom, #d60707, #e80707) repeat scroll 0 0; /* Opera 11.1-12.0 */
    background: #e80707 -moz-linear-gradient(to bottom, #d60707, #e80707) repeat scroll 0 0; /* Firefox 3.6-15 */
    background: #e80707 linear-gradient(to bottom, #d60707, #e80707) repeat scroll 0 0; /* Standard syntax */
}

.table-default-ca > tfoot > tr > td form select#add-visita{
	background-color: #3e3e3e;
    border: 1px solid #212122;
    color: #cccccc;
    font-size: 14px;
    height: auto;
    margin-bottom: 15px;
    padding: 0.5rem;
    width: 100%;
}

.dataTables_wrapper .pagination > .active > a,
.dataTables_wrapper .pagination > .active > a:focus,
.dataTables_wrapper .pagination > .active > a:hover,
.dataTables_wrapper .pagination > .active > span,
.dataTables_wrapper .pagination > .active > span:focus,
.dataTables_wrapper .pagination > .active > span:hover{
	background-color: #ED2224;
	border-color: #ED2224;
	color: #ffffff;
}

.dataTables_wrapper .pagination > li > a,
.dataTables_wrapper .pagination > li > span{
	color: #ed2224;
}

abbr.dashicons-before,
a.dashicons-before.dashicons-edit{
	text-decoration: none!important;
	border: none!important;
	font-size: 0.0001em;
	color: transparent;
}

abbr.dashicons-before:before,
a.dashicons-before.dashicons-edit:before{
	font-size: 24px;
}

#ativa{
	color: #34A853;
}

#inativa{
	color: #EA4335;
}

#warning{
	color: #FBBC05;
}

.alerta-adm{
	background-color: #EA4335;
	padding: 10px;
	width: 100%;
	color: #fff;
}

.alert-sem-permissao{
	text-align: center;
	border: none;
	background-color: transparent;
	font-style: normal;
	margin: 0;
    padding: 4rem;
}

.alert-sem-permissao h2{
	font-size: 24px;
    font-weight: 600 !important;
    text-transform: uppercase;
}

.alert-sem-permissao h4{
	font-size: 18px;
    font-weight: 500;
}

.ca-titulo-padrao{
	color: #fff;
	font-size: 34px;
    line-height: 48px;
    font-weight: 500;
}

#ca-content-main{
	background-color: #242424;
	padding: 1rem;
	color: #aaa9a9;
	border: 2px solid #353535;
	display: inline-block;
	width: 100%;
}

#ca-content-main #acf-situacao_do_cadastro,
#ca-content-main #acf_acf_ciclo-de-visita{
	background-color: #353535;
	padding: 1rem;
}

#ca-content-main #acf-situacao_do_cadastro .label,
#ca-content-main #acf_acf_ciclo-de-visita .label{
	text-shadow: none;
}

#ca-content-main .titulo-clinica{
	text-transform: uppercase;
	color: #fff;
}

#ca-content-main .titulo-clinica a{
	font-size: 1.4em;
	color: #EA4335;
	font-weight: 800;
	font-style: italic;
}

#ca-content-main input[type=text],
#ca-content-main input[type=email],
#ca-content-main input[type=password]{
	padding: .7rem;
	font-size: 14px;
	height: auto;
	border-color: #212122;
	color: #cccccc;
	background-color: #3e3e3e;
}

#ca-content-main input:disabled[type=email]{
	background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
}

#ca-content-main #acf-data_programada,
#ca-content-main #acf-proxima_entrega{
	display: inline-table;
    width: 49%;
}

#ca-content-main #acf-data_programada{
	margin-right: 1%;
}

#ca-content-main .acf_postbox.no_box > .inside > .field.error{
	margin: 0;
}


#ca-content-main .field label{
	color: #aaa9a9;
	font-size: 14px;
	text-shadow: none;
}

#ca-content-main .chosen-container-single .chosen-single{
	padding: 0.5rem 0.6rem;
	font-size: 14px;
	height: auto;
	border-radius: 0;
	border-color: #212122;
	color: #cccccc;
	background: #3e3e3e;
	box-shadow: none;
}

#ca-content-main .chosen-container-single .chosen-single div b{
	background-position: 0 13px;
}

#ca-content-main .country-selector-list strong{
	color: #aaa9a9;
}

#ca-content-main table.acf-input-table,
#ca-content-main table.acf_input,
#ca-content-main table.acf_input tbody tr td,
#ca-content-main table.acf-input-table > tbody > tr,
#ca-content-main table.acf-input-table.row_layout,
#ca-content-main table.acf-input-table.row_layout > tbody > tr > td{
	border-color: #333333;
}

#ca-content-main table.acf_input,
#ca-content-main table.acf-input-table{
	background-color: #383838;
}

#ca-content-main table.acf_input tbody tr td.label{
	background-color: #353535;
}

#ca-content-main table.acf_input tbody tr td.label .sub-field-instructions{
	margin-top: 10px;
	color: #EA4335;
	text-shadow: none;
}

#ca-content-main table.acf_input tbody tr.field_type-message td.label label{
	display: none;
}

#ca-content-main table.acf_input tbody tr.field_type-message td .inner h3{
	color: #aaa9a9;
}

#ca-content-main .repeater > table > tbody > tr > td.order,
#ca-content-main .repeater > table > tbody > tr > td.remove{
	background-color: #3e3e3e;
	border-color: #333333;
}

#ca-content-main .repeater .acf-button{
	background-color: #ea4335;
	border-color: #ea4335;
}

#nav-informacoes{
	position: relative;
	margin-bottom: 35px;
}

#nav-informacoes:before{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	background: #353535;
	border-bottom: 2px solid #383838;
	content: '';
}

#nav-informacoes ul{
	text-align: center;
	padding: 0 0 5px 0;
	margin: 0;
}

#nav-informacoes ul li {
	-webkit-transform: translateZ(0px);
     -moz-transform: translateZ(0px);
      -ms-transform: translateZ(0px);
       -o-transform: translateZ(0px);
          transform: translateZ(0px);
  	position: relative;
  	display: inline-table;
  	width: 150px;
  	list-style-type: none;
  	-webkit-font-smoothing: antialiased;
}

#nav-informacoes ul li a{
	cursor: pointer;
	opacity: 0.5;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

#nav-informacoes ul li a,
#nav-informacoes ul li a:before{
	color: #ffffff;
	float: left;
    font-size: 60px;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    text-decoration: none;
}

#nav-informacoes ul li a.private-link,
#nav-informacoes ul li a.private-link:before{
	color: #EA4335;
}

#nav-informacoes ul li a:hover,
#nav-informacoes ul li.active a{
	opacity: 1;
}

#nav-informacoes ul li a.dashicons-nametag:before{
	font-size: 63px;
}

#nav-informacoes ul li .tooltip {
  background: #EA4335;
  bottom: 100%;
  color: #fff;
  display: block;
  left: 50%;
  margin-left: -75px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
#nav-informacoes ul li .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}  

/* CSS Triangles - see Trevor's post */
#nav-informacoes ul li .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #EA4335 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -9px;
  position: absolute;
  width: 0;
}
  
#nav-informacoes ul li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

.info-inicial h2{
	font-size: 24px;
	padding: 14px 0 0;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	color: #EA4335;
}

.nav-links {
    /*display: none;*/
}

dl.legenda-alerta{
	font-size: 9px;
	margin-bottom: 0;
}

dl.legenda-alerta dt{
	color: #FBBC05;
	line-height: 20px;
}

dl.legenda-alerta dd{
	line-height: 20px;
}

dl.legenda-alerta dd .alerta-informacoes{
	font-size: 9px;
}

.alerta-informacoes{
	font-size: 10px;
	color: #EA4335;
}

#acf-todas_clinicas{
	display: none;
}

.td-historico{
	width: 5%;
	text-align: center;
}

#listar-minhas-clinicas #loading-clinica{
	padding: 0 4rem 4rem 4rem;
    text-align: center;
    width: 100%;
}


#listar-minhas-clinicas .styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat #353535 96% center;
   overflow: hidden;
   width: 460px;
   height: 49px;
   margin: 0 auto 3rem auto;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

#listar-minhas-clinicas .styled-select select {
	background: transparent;
	border: none;
	font-size: 20px;
	color: #ffffff;
	text-transform: uppercase;
	width: 488px;
	height: 49px;
	padding: 5px;
}

#listar-minhas-clinicas .styled-select select optgroup{
	padding: .5em;
}

#listar-minhas-clinicas .styled-select select optgroup,
#listar-minhas-clinicas .styled-select select optgroup option{
	background-color: #353535;
	color: #ffffff;
}

.table-gerenciar-promotores span.trigger{
	cursor: pointer;
}

.table-gerenciar-promotores .list-clinica-promotor{
	margin: 0;
	padding: 0;
	text-align: left;
	color: #ffffff;
}

.table-gerenciar-promotores .list-clinica-promotor li{
	margin-top: 2px;
	list-style-type: none;
}

#footer-restrita{
	border-top: 12px solid #353535;
	background-color: #383838;
	text-align: center;
}

#filtrar-data{
	width: 100%;
	background-color: #303030;
	margin-bottom: 3em;
}

#filtrar-data thead{
	background-color: #1e1e1e;
	border: 1px solid #0f0f0f;
}

#filtrar-data thead tr th{
	color: #3E3E3E;
}

#filtrar-data tbody tr td label{
	color: #fff;
	font-weight: normal;
}

.hidden-value{
	padding: 0 0;
	display: none;
}