select[name="seo_filter"],
.column-title .row-actions{
	display: none!important;
}

.widefat td, .widefat th {
    padding: 15px 10px;
}

.column-clinica_situacao abbr{
	text-decoration: none;
}

.column-clinica_situacao abbr.ativa:before{
	color: #34A853;
}

.column-clinica_situacao abbr.inativa:before{
	color: #EA4335;
}

#acf-data_programada, #acf-proxima_entrega{
	display: inline-block;
    width: 50%;
}

#acf-relatorio_do_promotor .field_type-message .label label{
	display: none;
}